<div class="ui grid">
    <div class="three column row" id="slide">
      <div class="active column" data-tab="1">
        <div class="ui inverted vertical center aligned segment">
          <div class="ui active text container">
            <h1 class="ui inverted header">
              Example headline.
            </h1>
            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
            </p>
            <div class="ui huge primary button" >
               Sign up today 
            </div><
          </div>
        </div>
      </div>
      <div class="column" data-tab="2">
        <div class="ui inverted vertical center aligned segment">
          <div class="ui active text container">
            <h1 class="ui inverted header">
              Another example headline.
            </h1>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div class="ui huge primary button">
              Learn more
            </div>
          </div>
        </div>
      </div>
      <div class="column" data-tab="3">
        <div class="ui inverted vertical center aligned segment">
          <div class="ui active text container">
            <h1 class="ui inverted header">
              One more for good measure
            </h1>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <div class="ui huge primary button">
              Browse gallery
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="bubble">
      <div class="ui center aligned container">
        <div class="ui circular icon green mini button"></div>
        <div class="ui circular icon mini button"></div>
        <div class="ui circular icon mini button"></div>
      </div>
    </div>
  </div>
  <div class="ui grid" id="control">
    <div class="row">
      <div class="three wide left floated column">
        <div class="ui basic big button" id="left">
          <i class="left chevron big icon"></i>
        </div>
      </div>
      <div class="three wide right floated column">
        <div class="ui basic big button" id="right">
          <i class="right chevron big icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>