<% include Partials/Header%>

<body>
  
  <% include Partials/Navbar %>
  
  <% include Partials/Slider %>


<div class="ui section hidden divider"></div>
<div class="ui three column center aligned stackable grid container">
  <div class="column">
    <img class="ui centered small circular image" src="/img/header-bg.jpg" />
    <h1 class="ui header">
      College Comparator
    </h1>
    <p>
    	    Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    </p>

    <div class="ui basic button">
      View details &raquo;
    </div>
  </div>

  <div class="column">
    <img class="ui centered small circular image" src="./img/HomeImage.jpg" />
    <h1 class="ui header">
      Expecated College 
    </h1>
    <p>
      Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    </p>
    <div class="ui basic button">
      View details &raquo;
    </div>
  </div>

  <div class="column">
    <img class="ui centered small circular image" src="/img/HomeImage.jpg" />
    <h1 class="ui header">
      Expecated Rank
    </h1>
    <p>
      Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    </p>
    <div class="ui basic button">
      View details &raquo;
    </div>
  </div>
</div>



<div class="ui section divider"></div>
<div class="ui grid container">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="middle aligned content">
        <h1 class="ui header">
          First featurette heading. <span class="disabled">It'll blow your mind.</span>
        </h1>
        <div class="description">
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
        </div>
      </div>
      <div class="ui right floated large image">
        <img src="/img/HomeImage.jpg" />
      </div>
    </div>
    <div class="item">
      <div class="ui large image">
        <img src="/img/HomeImage.jpg" />
      </div>
      <div class="middle aligned content">
        <h1 class="ui header">
          Oh yeah, <span class="disabled">it's that good.</span>
        </h1>
        <div class="description">
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="middle aligned content">
        <h1 class="ui header">
          And lastly, <span class="disabled">this one.</span>
        </h1>
        <div class="description">
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
        </div>
      </div>
      <div class="ui right floated large image">
        <img src="/img/HomeImage.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>

<script src="../../static/dist/semantic-ui/semantic.min.js"></script>
<script type="text/javascript" src="js/TempHome.js"></script>
 
<% include Partials/Footer %>